<div class="editor-row">
	<div class="section">
		<h5>Aion Query</h5>
		<div class="editor-option">
			<label class="small">Object</label>
			<input type="text" class="input-small" ng-model='annotation.object' bs-typeahead="objectList" placeholder="field"></input>
		</div>
		<div class="editor-option">
			<label class="small">Field</label>
			<input type="text" class="input-small" ng-model='annotation.field' bs-typeahead="fieldList" placeholder="field"></input>
		</div>
		<div class="editor-option">
			<label class="small">By Index</label>
			<input type="text" class="input-small" ng-model='annotation.index' bs-typeahead="indexList" placeholder="index"></input>
		</div>
		<div class="editor-option">
			<label class="small">Values</label>
			<input type="text" class="input-small" ng-model='annotation.values' placeholder="values"></input>
		</div>
		<div class="editor-option">
			<label class="small">Group by Field</label>
			<input type="text" class="input-small" ng-model='annotation.groupByField' bs-typeahead="fieldList" placeholder="group by field"></input>
		</div>
	</div>
</div>
